{% extends 'Management/base.html' %}
{% load static %} 

{% block page_title %}Dashboard{% endblock %}

{% block title %} Home Page {% endblock title%}
{% block content %}
    <!-- dashboard inner -->
    <div class="midde_cont">
        <div class="container-fluid">
           
           <div class="row column1">
              <div class="col-md-6 col-lg-3">
                 <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                       <div> 
                          <i class="fa fa-user yellow_color"></i>
                       </div>
                    </div>
                    <div class="counter_no">
                     <div>
                        <p class="total_no"> {{ total_clients|default:"0"  }}</p>
                        <p class="head_couter">Total Clients </p>
                     </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-3">
                    <div class="full counter_section margin_bottom_30">
                       <div class="couter_icon">
                             <div> 
                                <i class="fa fa-money blue1_color"></i>
                             </div>
                       </div>
                       <div class="counter_no">
                        <div>
                            <p class="total_no">KES 123.50</p>
                            <p class="head_couter">
                               Commission update
                            </p>
                        </div>
                    </div>
                    
                    </div>
                 </div>

                 <div class="col-md-6 col-lg-3">
                 <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                          <div> 
                             <i class="fa fa-user blue1_color"></i>
                          </div>
                    </div>
                    <div class="counter_no">
                          <div>
                           <div>
                              <p class="total_no"> {{ total_agents |default:"0"  }}</p>
                              <p class="head_couter">Total AGENTS </p>
                           </div>
                          </div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-lg-3">
                 <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                       <div> 
                          <i class="fa fa-comments-o red_color"></i>
                       </div>
                    </div>
                    <div class="counter_no">
                       <div>
                          <p class="total_no">54</p>
                          <p class="head_couter">Comments</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           
           <!-- graph -->
           <div class="row column2 graph margin_bottom_30">
              <div class="col-md-l2 col-lg-12">
                 <div class="white_shd full">
                    <div class="full graph_head">
                       <div class="heading1 margin_0">
                          <h2>Agents Sales Chart</h2>
                       </div>
                    </div>
                    <div class="full graph_head">
                       <div class="row">
                          <div class="col-md-12">
                             <div class="content">
                                <div class="area_chart">
                                   <canvas height="120" id="canvas"></canvas>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- end graph -->
           <div class="row column3">
             
              
              <!-- progress bar -->
            
        
     </div>
     <!-- end dashboard inner -->
  </div>



{% endblock content %}