{% extends 'management/base.html' %}
{% load static %} 
{% block page_title %}AGENTS Attendance{% endblock %}

{% block title %} ATTENDANCE LIST{% endblock title%}
{% block content %}
  <div class="container">
    {% if attendance_records %}
      <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Username</th>
            <th scope="col">Date</th>
            <th>Time</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          {% for record in attendance_records %}
            <tr>
              <td>{{ record.user }}</td>
              <td>{{ record.date }}</td>
              <td>{{ record.time|time:"g:i a" }}</td>
              <td>
                {% with record.latitude|floatformat:3 as lat %}
                  {% with record.longitude|floatformat:3 as lon %}
                    <a href="#" onclick="window.open('https://www.google.com/maps?q={{ lat }},{{ lon }}', 'newwindow', 'width=600,height=450'); return false;">View on Map</a>
                  {% endwith %}
                {% endwith %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No attendance records available.</p>
    {% endif %}
  </div>
{% endblock %}
